.facetName {
  color: #889397;
  text-transform: uppercase;
  font-size: 13px;
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin-bottom: 10px;
}

.labelWrapper {
  display: flex;
  justify-content: center;
}

.labelName {
  display: flex;
  flex-grow: 1;
  margin: 0;
  justify-content: space-between;
  cursor: pointer;
  font-size: 13px;
}

.facetCount {
  color: #889397;
}