.wrapper {
  /*background: #F9FBFA;*/
  height: 100%;
  overflow-y: scroll;
}

.contentWrapper {
  display: flex;
}

.main {
  flex-grow: 1;
  padding: 20px;
}

.sidebar {
  flex-basis: 200px;
  flex-shrink: 0;
  padding: 32px 20px 20px 20px;
}

.header {
  position: relative;
  padding: 20px 20px 0 20px;
}

.resultsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.facet {
  margin-bottom: 35px;
}

.filter {
  margin-bottom: 35px;
}

.loadingDot {
  position: absolute;
  top: 39px;
  left: 34px;
}

.searchInput input {
  padding-left: 36px;
}

.pipelineBtn {
  position: absolute;
  right: 32px;
  top: 30px;
}

.pipelineBtnActive,
.pipelineBtnActive:hover,
.pipelineBtnActive:focus {
  color: #00A35C;
}

.pipelineWrapper {
  padding: 10px 20px 10px 20px;
}

.pipelineWrapper p {
  margin: 0 0 10px 0;
  font-size: 13px;
}

.pipelineWrapper pre {
  max-height: 300px;
}