.wrapper {
  background: #F9FBFA;
  padding: 30px 20px;
  border-radius: 10px;
}

.title {
  margin: 0 0 15px 0;
  font-size: 18px;
}

.resultLine {
  font-size: 14px;
  margin: 0 0 5px 0;
}

.keyName {
  color: #5C6C75;
  margin-right: 10px;
}

.keyValue {
  color: #112733;
}