.container {
  display: flex;
  height: 100%;
}

.designContainer {
  flex-basis: 35%;
  flex-shrink: 0;
  margin-right: 20px;
  height: 100%;
}

.runtimeContainer {
  flex-grow: 1;
  height: 100%;
  max-width: 820px;
  margin: 0 auto;
}
