.container {
  display: flex;
  height: 100%;
}

.designContainer {
  flex-basis: 35%;
  flex-shrink: 0;
  padding: 20px;
  margin-right: 20px;
}

.runtimeContainer {
  flex-grow: 1;
  height: 100%;
}
