.container {
  display: flex;
}

.designContainer {
  flex-basis: 40%;
  flex-shrink: 0;
  border-right: 1px solid black;
  padding: 20px;
}

.runtimeContainer {
  flex-shrink: 0;
  flex-basis: 70%;
  padding: 20px;
}
