.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.listItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.select {
  margin-right: 10px;
  width: 140px;
}

.inputWrapper {
  display: flex;
  flex-grow: 1;
}

.input {
  flex-grow: 1;
  margin-right: 10px;
}

.input input {
  height: 32px;
}

.removeBtn {
  margin-top: 28px;
}